@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-1: #41444B;
  --color-2: #F9F9F9;
  /* --color-1: #F9F9F9;
  --color-2: #41444B; */
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, .2); 
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-1); 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

input, a, button {
  min-width: 44px;
  min-height: 44px;
  padding: 0 1em;
  font-family: 'Nunito', sans-serif;
  font-size: 1em;
  transition: all .3s ease;
}

a, button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  text-decoration: none;
  outline: none;
  color: var(--color-1);
  background-color: var(--color-2);
  border: 2px solid var(--color-1);
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

a:hover, button:hover,
a:active, button:active,
a:focus, button:focus {
  background-color: var(--color-1);
  color: var(--color-2);
}

main {
  /* width: 100%; */
  max-width: 500px;
  margin: 0 auto;
  padding: 0 1em;
  background-color: var(--color-2);
  overflow: hidden;
}

.search-bar {
  max-width: 500px;
  margin: 1em auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input {
  flex-grow: 1;
  border: 1px solid var(--color-1);
}

.food-recipe {
  width: 100%;
  border: 2px solid var(--color-1);
  border-radius: 10px 10px 0 0;
  background-color: var(--color-2);
  color: var(--color-1);
  translate: 0 2px;
}

.recipe-title {
  padding: 1em;
  text-align: center;
  text-transform: uppercase;
}

.recipe-img {
  max-width: 100%;
}

.recipe-img img {
  width: 100%;
  max-height: 200px;
  object-fit: cover;
}

.recipe-img figcaption {
  font-size: .8em;
  text-align: center;
  text-transform: lowercase;
}

.prep-time {
  margin: .5em 1em;
  font-size: .8em;
}

.section {
  margin: .5em 1em;
  padding: 1em 0;
  border: 1px solid var(--color-1);
  border-radius: 10px;
  background-color: var(--color-2);
  color: var(--color-1);
  overflow: hidden;
}

.section:has(ol, ul) {
  padding: 1em 2em;
}

.section h3 {
  display: block;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: .9em;
}

.section ul,
.section ol {
  font-size: .8em;
}

ul {
  list-style: none;
}

#spoonacular-equipment-vis-grid {
  display: block;
  background-color: white;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  cursor: grab;
  white-space: nowrap;
}

#spoonacular-ingredient-vis-grid {
  display: block;
  background-color: white;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  cursor: grab;
  white-space: nowrap;
}

.spoonacular-grid-item {
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  width: 150px;
  font-size: .8em;
  text-overflow: ellipsis;
}

.spoonacular-equipment {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spoonacular-ingredient {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.spoonacular-image-wrapper {
  display: inline-block;
}

.spoonacular-image-wrapper > img {
  width: 100px;
  aspect-ratio: 1/1;
}

.spoonacular-name {
  display: inline-block;
  color: #41444B;
}

.spoonacular-amount {
  display: inline-block;
}

/* TASTE WIDGET */

.taste.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.taste-container {
  width: 100%;
  max-width: 350px;
}

canvas {
  background-color: #F9F9F9;
}

/* NUTRIENT WIDGET */

.nutrient.section {
  padding: 1em;
}

.nutrient.section h3 {
  margin-bottom: 1em;
}

#spoonacular-nutrition-label,
#spoonacular-nutrition-ingredient-list {
  border: 1px solid black;
  margin: 0 auto;
  width: 300px;
  padding: .5rem;
  font-family:Helvetica,Arial,sans-serif,sans-serif;
  font-size:14px;
  color:#333;
  background-color:#fff
}

#spoonacular-nutrition-ingredient-list {
  text-transform:uppercase
}

#spoonacular-nutrition-label div.separator {
  border-bottom:10px solid black
}

#spoonacular-nutrition-label>div:first-of-type{border-bottom:10px solid black;padding:0 0 .25rem 0;margin:0 0 .5rem 0}#spoonacular-nutrition-label>div:first-of-type p{margin:0;font-size:16px}#spoonacular-nutrition-label table{border-collapse:unset;border-spacing:0;font-size:14px;width:100%}#spoonacular-nutrition-label table td{font-weight:normal;text-align:left;padding:.3rem 0;border-top:1px solid black;vertical-align:middle}#spoonacular-nutrition-label table .empty{width:1rem;border-top:0}#spoonacular-nutrition-label table #calorie-summary td{font-size:33px;border:0 none!important}#spoonacular-nutrition-label b{font-weight:900}#spoonacular-nutrition-label .separator td{border-top-width:5px}#spoonacular-nutrition-label table:first-of-type td:last-child{text-align:right!important}#spoonacular-nutrition-label table:nth-of-type(2) td:first-child{text-align:left!important}#spoonacular-nutrition-label table:nth-of-type(2) td:nth-of-type(2){text-align:right!important}#spoonacular-nutrition-label .small{font-size:11px}#spoonacular-nutrition-label h1.separator{border-bottom:1px solid black}#spoonacular-nutrition-label h1{font-size:35px;margin:0 0 .25rem 0}

#spoonacular-nutrition-label {
  max-width: 100%;
  max-height: calc(100vh - 20%);
  overflow-y: auto;
  border: 1px solid var(--color-1);
  background-color: var(--color-2);
  color: var(--color-1);
}

#spoonacular-nutrition-label > div > h1 {
  font-size: 2em;
}

#calorie-summary > td > b {
  font-size: .8em;
}

/* SOURCE LINK */

.source-link {
  display: none;
  width: fit-content;
  margin: 0 auto 10px auto;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: lowercase;
  color: var(--color-1);
}

@media (min-width: 750px) {
  main {
    max-width: 1000px;
    /* background-color: #41444B; */
  }

  .section {
    margin: 0;
    font-size: 1.2em;
  }

  .food-recipe {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 1em;
    padding: 1em;
  }

  .recipe-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    grid-row: 1 / 3;
  }

  .recipe-title {
    font-size: 2em;
  }

  .recipe-img img {
    max-height: 250px;
  }

  .recipe-img figcaption {
    font-size: 1em;
    text-align: center;
    text-transform: lowercase;
  }

  .prep-time {
    font-size: 1em;
  }

  .section h3 {
    font-size: 1.2em;
  }

  .steps.section {
    grid-column: 1 / 3;
  }

  .taste.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
  }

  .taste-container {
    max-width: 100%;
  }

  .source-link {
    grid-column: 1 / 3;
  }
}
